@model LoginViewModel

<h2>Please log in or <a asp-controller="Account" asp-action="Register">Register</a> to contact us:</h2>

<form asp-action="Login" asp-controller="Account" method="POST" class="form-horizontal">
	<div class="form-group">
		<label asp-for="UserName"></label>
		<input class="form-control" asp-for="UserName" />
		<span asp-validation-for="UserName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Password"></label>
		<input class="form-control" asp-for="Password" />
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
	@* <div asp-validation-summary="All" class="text-danger"></div> *@
</form>
