@model LoginViewModel

<h2>Please <a asp-controller="Account" asp-action="Login">log in</a> or Register to contact us:</h2>

<form asp-action="Register" asp-controller="Account" method="POST" class="form-horizontal" role="form">
    <div class="form-group">
		<label asp-for="UserName"></label>
		<input class="form-control" asp-for="UserName" />
		<span asp-validation-for="UserName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Password"></label>
		<input class="form-control" asp-for="Password" />
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
	@* <div asp-validation-summary="All" class="text-danger"></div> *@
</form>
