@model Feedback

<form asp-action="Index" method="POST" class="form-horizontal" role="form">
	<div class="form-group">
		<input class="form-control" asp-for="Name" placeholder="Name" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input class="form-control" asp-for="Email" placeholder="Email" />
		<span asp-validation-for="Email" class="text-danger"></span>

	</div>
	<div class="form-group">
		<textarea class="form-control" asp-for="Message" placeholder="Message"></textarea>
		<span asp-validation-for="Message" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="ContactMe"></label>
		<input class="form-control" asp-for="ContactMe" />
	</div>
	<button type="submit" class="btn btn-primary btn-lg btn-block">SEND</button>
	@* <div asp-validation-summary="All" class="text-danger"></div> *@
</form>
