@model Pie

<div class="thumbnail">
	<img class="img-fluid" src="@Model.ImageUrl" alt="@Model.Name" />
	<div class="caption-full">
		<h3 class="pull-right">@Model.Price.ToString("c")</h3>
		<h3>@Model.Name</h3>
		<h4>@Model.ShortDescription</h4>
		<p>@Model.LongDescription</p>
	</div>
</div>
