@model HomeViewModel

<h1>@Model.Title</h1>

<ul class="d-flex list-group list-group-flush flex-column">
	@foreach(Pie pie in Model.Pies) {
		<li class="d-flex flex-column flex-sm-row list-group-item list-group-item-action align-items-start">
			<img class="img-fluid img-thumbnail" src="@pie.ImageThumbnailUrl" alt="Pie Thumbnail" />
			<div class="caption">
				<h3>
					<a asp-controller="Home" asp-action="Details" asp-route-id="@pie.Id">
						@pie.Name
					</a>
				</h3>
				<h3 class="pull-right">@pie.Price.ToString("c")</h3>
				<p>@pie.ShortDescription</p>
			</div>
		</li>
	}
</ul>
